.sendForm {
    display: flex;
    justify-content: center;
    padding: 33px 0 32px 0;
    gap:44px
}

.textarea {
    width: 976px;
    min-height: 40px;
    border-radius: 20px;
}

.button {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background: #06C;
    color: white;
    border: 1px solid transparent;
}

.button:hover {

}
.button:active {

}
